
// ============================================================================
// DMEL Pipeline Configuration
// ============================================================================
// All paths can be overridden via command line: 
//   nextflow run main.nf --ssearch /path/to/ssearch36
// Or via a custom config file:
//   nextflow run main.nf -c my_local.config
// ============================================================================

params {

    // ========================================================================
    // Pipeline parameters
    // ========================================================================
    n = 30                                      // Number of parallel groups for NR parsing
    output = "results/"                         // Output directory

    // ========================================================================
    // Input directories (relative to project root)
    // ========================================================================
    focal_dir = "input/focal/"                  // Focal species directory
    neighbors_dir = "input/neighbors/"          // Neighbor species directory

    // ========================================================================
    // External databases
    // ========================================================================
    nr = "/datas/NR/NR/nr_2.0.13.dmnd"             // Path to Diamond NR database
    taxdump = "/path/to/new_taxdump.tar.gz"     // Path to NCBI taxdump archive
    tmpdir = "/datas/NR/tmpdir"                             // Temporary directory for Diamond

    // ========================================================================
    // Bioinformatics tools paths
    // Set to tool name if in PATH, or provide full path
    // ========================================================================
    
    // Alignment tools (FASTA36 suite)
    ssearch = "ssearch36"                       // Smith-Waterman aligner
    ssearch_long = "ssearch36"                  // Long version for proteic alignments
    tfasty = "tfasty36"                         // Protein vs translated DNA

    // Sequence manipulation
    seqkit = "seqkit"                           // FASTA/Q toolkit
    gffread = "gffread"                         // GFF/GTF utility
    faTrans = "faTrans"                         // DNA to protein translation
    faSize = "faSize"                           // Sequence length utility

    // Database tools
    diamond = "diamond"                         // Fast protein aligner
    blastp = "/usr/bin/blastp"                  // NCBI BLAST+
    makeblastdb = "/usr/bin/makeblastdb"        // BLAST database builder
    
    // Taxonomy tools
    taxonkit = "taxonkit"                       // NCBI taxonomy toolkit

    // Data processing
    duckdb = "duckdb"                           // Parquet/SQL processing

    // System tools (usually in PATH)
    samtools = "samtools"                       // SAM/BAM/FASTA index
    bedtools = "bedtools"                       // Genomic intervals

}

trace {

    enabled = true
    file = 'pipeline_trace.txt'
    overwrite = true

}

report {
    enabled = true
    file = 'pipeline_report.html'
    overwrite = true
}

timeline {
    enabled = true
    file = 'pipeline_timeline.html'
    overwrite = true
}

dag {
    enabled = true
    file = 'pipeline_dag.html'
    overwrite = true
}

process {


    beforeScript = """
        export SSEARCH="${params.ssearch}"
        export SSEARCH_LONG="${params.ssearch_long}"
        export TFASTY="${params.tfasty}"
        export SEQKIT="${params.seqkit}"
        export GFFREAD="${params.gffread}"
        export FATRANS="${params.faTrans}"
        export FASIZE="${params.faSize}"
        export DIAMOND="${params.diamond}"
        export TAXONKIT="${params.taxonkit}"
        export DUCKDB="${params.duckdb}"
        export BEDTOOLS="${params.bedtools}"
    """

    withLabel: 'lowprio_big' {
        cpus = '8'
        memory = '50GB'
    }

    // withName:standardGff {
    //    container = 'file://container/agat.sif'
    // }
}


singularity {

    enabled = true
}

executor {

    name = 'slurm'
    queueSize = 100

}

